language: android

sudo: true

env:
  global:
  - MALLOC_ARENA_MAX=2

android:
  components:
  - tools
  - platform-tools
  - build-tools-25.0.0
  - android-25
  - extra-android-m2repository
  - extra-google-m2repository
  - extra-google-google_play_services

notifications:
  email: false

jdk:
- oraclejdk8

script:
- ./gradlew -PdisablePreDex assembleProd lintProd{With,No}GPlay{Debug,Release} testProd{With,No}GPlay{Debug,Release}UnitTest
