* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.mdl-layout__header {
  color: #616161;
}

.mdl-layout__title, .mdl-layout-title {
  letter-spacing: normal;
  text-transform: lowercase;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-style: italic;
  word-spacing: -5px;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #424242;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0,0,0,0.54);
}

section {
  padding: 16px;
}

section#features {
  text-align: center;
}

.masthead {
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
}

.screenshots-container {
  white-space: nowrap;
  overflow-x: auto;
}

.grid-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img"
    "h"
    "t";
  grid-column-gap: 16px;
}

.grid-block picture {
  grid-area: img;
  width: 100%
}

.features__row {
  display: flex;
  flex-direction: column;
}

.grid-block picture img {
  width: 100%;
}

.grid-block h2 {
  grid-area: h;
}

.grid-block p {
  grid-area: t;
}

.screenshots-container::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}

.screenshots-container::-webkit-scrollbar:hover {
  height: 8px;
}

.screenshots-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(0,0,0,0.2);
}

.screenshot {
  width: 100%;
  max-width: 240px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25),
              0 5px 10px rgba(0,0,0,0.25);
  margin: 16px;
}

.mdl-mini-footer--link-list, .mdl-mini-footer__link-list {
  flex-flow: row wrap;
}

.mdl-card .mdl-card__supporting-text {
  flex-grow: 1;
}
#architectureSection {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

#architectureSection .mdl-card {
  width: 100%;
}

#architectureSection .mdl-card:not(:last-child) {
  margin-bottom: 16px;
}
#gpGetBadge {
  display: block;
}
#gpGetBadge img {
  width: 200px;
}
.masthead .material-icons {
  margin-top: 32px;
}

.material-icons.md-dark {
  color: rgba(0,0,0,0.54);
}
@media (min-width: 1024px) {
  section {
    padding: 16px 72px;
  }
  .grid-block {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "img h"
      "img t";
    grid-column-gap: 40px;
  }

  .masthead {
    padding-top: 72px;
  }

  .grid-block h2, .grid-block p {
    text-align: left;
  }

  .features__row {
    flex-direction: row;
    margin-top: 16px;
  }

  .features__row h3 {
    width: 300px;
    flex-shrink: 0;
    text-align: left;
    margin-top: 0;
    padding-right: 16px;
  }

  .features__row p {
    flex-grow: 1;
    text-align: left;
  }

  .mdl-mini-footer {
    padding-left: 72px;
    padding-right: 72px;
  }
  #architectureSection {
    flex-direction: row;
  }
  #architectureSection .mdl-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

#architectureSection .mdl-card .mdl-card__title {
  padding-bottom: 0;
}

p {
  font-size: 16px;
}

#changelogSub h1,
#changelogSub h2,
#changelogSub h3,
#changelogSub h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
