<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ccrama.redditslide">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".Reddit"
        android:allowBackup="true"
        android:fullBackupContent="true"

        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:theme="@style/yellow_dark">
        <activity
            android:name=".Activities.LoadingData"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SubredditOverview"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Album"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Internet"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.FullscreenImage"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.CommentSearch"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SavedView"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name=".ConnectionReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".Activities.GifView"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.FullscreenVideo"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Wiki"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GitReporter"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.CommentsScreen"
            android:theme="@style/swipeable"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SubredditView"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.MultiredditOverview"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Profile"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Sendmessage"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.OpenContent"
            android:label="SlideIntent">
            <intent-filter android:label="Slide">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.reddit.com"
                    android:scheme="http" />
                <data
                    android:host="reddit.com"
                    android:scheme="https" />

                <data
                    android:host="i.reddit.com"
                    android:scheme="http" />
                <data
                    android:host="m.reddit.com"
                    android:scheme="http" />
                <data
                    android:host="www.reddit.com"
                    android:scheme="https" />
                <data
                    android:host="i.reddit.com"
                    android:scheme="https" />
                <data
                    android:host="m.reddit.com"
                    android:scheme="https" />
                <data
                    android:host="np.reddit.com"
                    android:scheme="http" />
                <data
                    android:host="reddit.com"
                    android:scheme="http" />

                <data
                    android:host="np.reddit.com"
                    android:scheme="https" />
                <data
                    android:host="redd.it"
                    android:scheme="https" />
                <data
                    android:host="redd.it"
                    android:scheme="http" />
                <data
                    android:host="www.redd.it"
                    android:scheme="https" />
                <data
                    android:host="www.redd.it"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsGeneral"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.CommentsScreenSingle"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Inbox"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize"

            />
        <activity
            android:name=".Activities.Submit"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Tutorial"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.DonateView"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Shadowbox"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Crash"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SubredditOverviewSingle"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Settings"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SettingsTheme"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SettingsSubreddit"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.CommentsScreenPopup"

            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <activity
            android:name=".Activities.EditCardsLayout"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DragSort.ListViewDraggingAnimation"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.Login"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SettingsBackup"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.CreateMulti"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".Activities.Shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- <receiver android:name=".Widget" android:label="Frontpage Widget">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
             </intent-filter>
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
         </receiver>
         <service android:name="StackWidgetService"
             android:permission="android.permission.BIND_REMOTEVIEWS"
             android:exported="false" />!-->

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />

        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />

        <receiver android:name=".Notifications.CheckForMail">

        </receiver>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
    </application>



</manifest>
