<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ccrama.redditslide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Reddit"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/yellow_dark">

        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsCache"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ForceTouchLink"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.YouTubeView"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Album"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Internet"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsFilter"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.FullscreenImage"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.ModQueue"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.AlbumPager"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Imgur"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsFab"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsComments"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Loader"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsFont"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.CommentSearch"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Website"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />

        <activity
            android:name=".Activities.GifView"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsAutonight"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.FullscreenVideo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Wiki"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.CommentsScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SubredditView"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.MultiredditOverview"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsReddit"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Sendmessage"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />

        <activity
            android:name=".Activities.OpenContent"
            android:label="SlideIntent">
            <intent-filter android:label="Slide">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*reddit.com"/>
                <data android:host="redd.it"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsGeneral"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />

        <activity
            android:name=".Activities.CommentsScreenSingle"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Inbox"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable"

            />
        <activity
            android:name=".Activities.Submit"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Tutorial"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.DonateView"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Shadowbox"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.Crash"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsSubreddit"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsAbout"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.Search"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.SettingsHandling"
            android:theme="@style/swipeable"

            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".Activities.CommentsScreenPopup"

            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <activity
            android:name=".Activities.EditCardsLayout"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".DragSort.ReorderSubreddits"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />

        <activity
            android:name=".Activities.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.SettingsBackup"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity
            android:name=".Activities.CreateMulti"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/swipeable" />
        <activity android:name=".Activities.Shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- <receiver android:name=".Widget" android:label="Frontpage Widget">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
             </intent-filter>
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
         </receiver>
         <service android:name="StackWidgetService"
             android:permission="android.permission.BIND_REMOTEVIEWS"
             android:exported="false" />!-->
        <service
            android:name=".Adapters.MarkAsReadService"
            android:exported="false" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />

        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />

        <receiver android:name=".Notifications.CheckForMail">

        </receiver>

        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />
    </application>


</manifest>
